# Clean and Organize data

Data has been reorganized on a SQL dataframe locally to get it in the newly updated format. All new files are located in prelim_cleaned_data folder in the repository.  
There is still some work to be done here, however. For example, we do not want every single collumn collected, and some will need to be renamed to fit our schema.

In [216]:
import os

class bball_pipeline(object):

    def make_folder(self):
        if not os.path.exists('./clean_data'):
            os.mkdir('./clean_data')
    
    def save_file(self):
        pass

In [217]:
# our imports for the model
import pandas as pd
import numpy as np

## Import our Data

In [218]:
# ncaa tournament results into dataframe 
teams = pd.read_csv('prelim_cleaned_data/distinctteamkey.csv')  
# team ID, name, sports reference url name
ncaa_games = pd.read_csv('prelim_cleaned_data/ncaa_new.csv')  
# Season long stats for 2009-2018
schools = pd.read_csv('prelim_cleaned_data/team_list_new.csv')
# more team data
season_stats = pd.read_csv('prelim_cleaned_data/big_stats.csv')

## Rename our Columns According to the Schema

The Dataframes we are reconfiguring here are: <dir>
* teams
* schools
* ncaa_games

In [219]:
# simply rename the columns for teams and schools
teams.columns = ["team_id" , "school_id" , "year"]
schools.columns = ["school_id" , "school_name" , "sports_reference_name" ]

In [220]:
# reorder the columns
ncaa_games = ncaa_games.reindex(columns=['Identifier','Winner','Loser','WScore','LScore','DayNum'])
# rename the columns according to the schema
ncaa_games.columns = [ "game_id" , "team1_id" , 'team2_id' , 'team1_score' , 'team2_score' , 'DayNum']
# Drop the DayNum column
ncaa_games = ncaa_games.drop(columns = "DayNum")

## Reorganize the season_stats DataFrame

This takes three steps <dir>
    1. remove columns that are not useful
    2. rename columns according to the schema
    3. reorder columns according to the schema

In [221]:
season_stats.head()

,Rk,Season,Conf,W,L,WLPercent,W2,L2,WL2Percent,SRS,...,TRB,AST,STL,BLK,TOV,PF,PTS.1,PTSperG,Team_ID,Dates
0,12,2008.0,MAC,23,13,1.0,10,6,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,2009.0,MAC,24,11,1.0,12,4,1.0,3.0,...,1199.0,446.0,270.0,80.0,490.0,745.0,2403.0,67.0,1103.0,2009.0
2,11,2009.0,MAC,24,11,1.0,12,4,1.0,3.0,...,1199.0,446.0,270.0,80.0,490.0,745.0,2403.0,67.0,1103.0,2009.0
3,10,2010.0,MAC,23,13,1.0,9,7,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,2011.0,MAC,22,12,1.0,13,3,1.0,6.0,...,1238.0,520.0,240.0,129.0,432.0,692.0,2524.0,70.0,1103.0,2011.0

In [222]:
del_cols = ["Rk" , 'Season' , 'W' , "L" , "W2"  , "L2" , "AP_Pre" , "AP_High" , 
           "G" , "MP" , 'FG' , "TwoP",  "ThreeP" , "FT" , "TRB" , 'PTSperG' ,
            'Dates' , 'Team_ID']

season_stats = season_stats.drop(columns = del_cols)

In [223]:
season_stats.columns

Index(['Conf', 'WLPercent', 'WL2Percent', 'SRS', 'SOS', 'PTS', 'PTS2',
       'AP_Final', 'NCAA_Tour', 'Seed', 'Coaching', 'Team', 'SrNames',
       'TeamID', 'schoolid', 'yearid', 'id', 'Team.1', 'FGA', 'FG_Percent',
       'TwoPA', 'TwoP_Percent', 'ThreePA', 'ThreeP_Percent', 'FTA',
       'FT_Percent', 'ORB', 'DRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS.1'],
      dtype='object')

In [224]:
season_stats.shape

(3531, 34)

In [225]:
teams.shape

(657, 3)

In [226]:
val = ~np.isnan(season_stats["id"] ) 
season_stats = season_stats[val]

In [227]:
un = season_stats['id'].unique()

In [234]:
max(un)

1001275.0

In [230]:
max(teams["team_id"])

1000656