# Clean and Organize data

In [1]:
import os

class bball_pipeline(object):

    def make_folder(self):
        if not os.path.exists('./clean_data'):
            os.mkdir('./clean_data')
    
    def save_file(self):
        pass

In [2]:
# our imports for the model
import pandas as pd
import numpy as np

# Read in our collected Data

In [3]:
# ncaa tournament results into dataframe 
ncaa_short = pd.read_csv('collected_data/ncaa_short.csv')  
# team ID, name, sports reference url name
team_data = pd.read_csv('collected_data/team_list.csv')  
# Season long stats for 2009-2018
season_data = pd.read_csv('collected_data/season_data.csv')
# more team data
season_stats2 = pd.read_csv('collected_data/more_team_data.csv')

In [9]:
ncaa_short

     Unnamed: 0  Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0          1520    2009     134     1287      58     1106      43    N      0
1          1521    2009     136     1163     103     1151      47    N      0
2          1522    2009     136     1181      86     1127      62    N      0
3          1523    2009     136     1211      77     1103      64    N      0
4          1524    2009     136     1261      75     1139      71    N      0
5          1525    2009     136     1268      84     1143      71    N      0
6          1526    2009     136     1272      81     1169      70    N      0
7          1527    2009     136     1276      62     1155      59    N      0
8          1528    2009     136     1314     101     1347      58    N      0
9          1529    2009     136     1328      82     1288      54    N      0
10         1530    2009     136     1345      61     1320      56    N      0
11         1531    2009     136     1400      76     1278      62    N      0
12         1532    2009     136     1401      79     1140      66    N      0
13         1533    2009     136     1417      65     1433      64    N      0
14         1534    2009     136     1437      80     1110      67    N      0
15         1535    2009     136     1443      76     1228      72    N      0
16         1536    2009     136     1449      71     1280      58    N      0
17         1537    2009     137     1112      84     1428      71    N      0
18         1538    2009     137     1113      66     1396      57    N      0
19         1539    2009     137     1156      84     1448      69    N      0
20         1540    2009     137     1173      68     1452      60    N      0
21         1541    2009     137     1242      84     1295      74    N      0
22         1542    2009     137     1257      74     1287      54    N      0
23         1543    2009     137     1266      58     1429      57    N      0
24         1544    2009     137     1277      77     1352      62    N      0
25         1545    2009     137     1281      78     1165      59    N      0
26         1546    2009     137     1329      77     1397      75    N      0
27         1547    2009     137     1338      72     1190      62    N      0
28         1548    2009     137     1373      74     1326      72    N      2
29         1549    2009     137     1393      59     1372      44    N      0
..          ...     ...     ...      ...     ...      ...     ...  ...    ...
634        2154    2018     138     1211      90     1326      84    N      0
635        2155    2018     138     1242      83     1371      79    N      0
636        2156    2018     138     1246      95     1138      75    N      0
637        2157    2018     138     1260      63     1397      62    N      0
638        2158    2018     138     1276      64     1222      63    N      0
639        2159    2018     138     1403      69     1196      66    N      0
640        2160    2018     138     1437      81     1104      58    N      0
641        2161    2018     139     1155      84     1120      53    N      0
642        2162    2018     139     1199      75     1462      70    N      0
643        2163    2018     139     1243      50     1420      43    N      0
644        2164    2018     139     1305      75     1153      73    N      0
645        2165    2018     139     1345      76     1139      73    N      0
646        2166    2018     139     1393      55     1277      53    N      0
647        2167    2018     139     1401      86     1314      65    N      0
648        2168    2018     139     1452      94     1267      71    N      0
649        2169    2018     143     1199      75     1211      60    N      0
650        2170    2018     143     1243      61     1246      58    N      0
651        2171    2018     143     1260      69     1305      68    N      0
652        2172    2018     143     1276      99     1401      72    N      0
653        2173    2018     144     1181      69     1393      65    N      0
654        2174    2018     144     1242      80     1155      76    N      0
655        2175    2018     144     1403      78     1345      65    N      0
656        2176    2018     144     1437      90     1452      78    N      0
657        2177    2018     145     1260      78     1243      62    N      0
658        2178    2018     145     1276      58     1199      54    N      0
659        2179    2018     146     1242      85     1181      81    N      1
660        2180    2018     146     1437      71     1403      59    N      0
661        2181    2018     152     1276      69     1260      57    N      0
662        2182    2018     152     1437      95     1242      79    N      0
663        2183    2018     154     1437      79     1276      62    N      0

[664 rows x 9 columns]

# Create the 'teams' dataframe

This will be done in the following steps:
1. create an empty dataframe with the desired column titles.
2. Iterate through the ncaa_short dataframe's rows. These are the past ncaa_tournament games. 
3. For each game, filter the 'teams' dataframe that we are building, to the rows which include the correct year
4. If the schools are not in the filtered 'teams' dataframe, add them, and create a new team_id.

In [31]:
# create the dataframe
teams = pd.DataFrame(columns = ["team_id" , "school_id" , "year"] ) 
# counter 
id_counter = 1000000

# iterate through our data
for i in range(ncaa_short.shape[0]):
    year = ncaa_short.iloc[i , 1] 
    id_1 =  ncaa_short.iloc[i , 3]
    id_2 =  ncaa_short.iloc[i , 5] 
    s = teams["year"] == year              # filter
    if teams.shape[0] == 0:
        teams = teams.append({'team_id': id_counter , 'school_id': id_1 , "year" : year} , ignore_index=True )
        id_counter += 1  # update counter
        teams = teams.append({'team_id': id_counter , 'school_id': id_2 , "year" : year} , ignore_index=True )    
        id_counter += 1
    else:
        if id_1 not in teams[s]:                     # conditionally append
            teams = teams.append({'team_id': id_counter , 'school_id': id_1 , "year" : year} , ignore_index=True )
            id_counter += 1  # update counter
        s = teams["year"] == year
        if  id_2 not in teams[s]:                     # conditionally append
            teams = teams.append({'team_id': id_counter , 'school_id': id_2 , "year" : year} , ignore_index=True )    
            id_counter += 1

Let's first get a sense of what our data looks like

In [4]:
# Get the columns
season_stats2.columns

Index(['Rk', 'Season', 'Conf', 'W', 'L', 'W-L%', 'W.1', 'L.1', 'W-L%.1', 'SRS',
       'SOS', 'PTS', 'PTS.1', 'AP Pre', 'AP High', 'AP Final',
       'NCAA Tournament', 'Seed', 'Coach(es)', 'Unnamed: 19', 'team'],
      dtype='object')

Remove some non helpful datavals

In [5]:
season_stats2 = season_stats2.drop(columns=['Rk', 'Unnamed: 19' , 'AP Pre' , 'AP High' , 'W.1' , 'L.1' , 'W-L%.1',  'AP Final' , 'NCAA Tournament'])

In [6]:
season_stats2.describe(include = 'all')

,Season,Conf,W,L,W-L%,SRS,SOS,PTS,PTS.1,Seed,Coach(es),team
count,2600,2600,2600,2600,2600.000000,2591.000000,2591.000000,2599.000000,2599.000000,736.000000,2600,2600
unique,17,35,50,42,NaN,NaN,NaN,NaN,NaN,NaN,2488,217
top,2018-19,ACC,20,14,NaN,NaN,NaN,NaN,NaN,NaN,Sean Miller (27-8),north-carolina-greensboro
freq,217,165,162,221,NaN,NaN,NaN,NaN,NaN,NaN,3,12
mean,NaN,NaN,NaN,NaN,0.564665,3.337522,1.442721,71.233282,68.418853,8.728261,NaN,NaN
std,NaN,NaN,NaN,NaN,0.165013,9.661552,5.510206,5.602585,5.266216,4.662143,NaN,NaN
min,NaN,NaN,NaN,NaN,0.050000,-30.400000,-12.710000,52.600000,50.700000,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.454250,-3.680000,-3.110000,67.400000,64.800000,5.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,0.576000,3.310000,1.040000,71.300000,68.300000,9.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,0.686000,10.655000,6.565000,75.000000,71.900000,13.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,1.000000,28.720000,12.790000,89.800000,92.200000,16.000000,NaN,NaN

In [7]:
season_stats2.dtypes

Season        object
Conf          object
W             object
L             object
W-L%         float64
SRS          float64
SOS          float64
PTS          float64
PTS.1        float64
Seed         float64
Coach(es)     object
team          object
dtype: object

In [8]:
# have to get rid of the * ( this means the data was changed as a result of a penalty)
season_stats2['W'] = season_stats2['W'].map(lambda x: x.rstrip('*'))
season_stats2['L'] = season_stats2['L'].map(lambda x: x.rstrip('*'))

In [9]:
season_stats2 = season_stats2.astype({'W': 'int32' , 'L': 'int32'})

In [10]:
season_stats2.dtypes

Season        object
Conf          object
W              int32
L              int32
W-L%         float64
SRS          float64
SOS          float64
PTS          float64
PTS.1        float64
Seed         float64
Coach(es)     object
team          object
dtype: object