# Clean and Organize data

In [96]:
# our imports for the model
import pandas as pd

In [97]:
# ncaa tournament results into dataframe 
ncaa_short = pd.read_csv('ncaa_short.csv')  
# team ID, name, sports reference url name
team_data = pd.read_csv('team_list.csv')  
# Season long stats for 2009-2018
season_stats = pd.read_csv('season_data.csv')
# more team data
season_stats2 = pd.read_csv('more_team_data.csv')

Let's first get a sense of what our data looks like

In [98]:
# Get the columns
season_stats2.columns

Index(['Rk', 'Season', 'Conf', 'W', 'L', 'W-L%', 'W.1', 'L.1', 'W-L%.1', 'SRS',
       'SOS', 'PTS', 'PTS.1', 'AP Pre', 'AP High', 'AP Final',
       'NCAA Tournament', 'Seed', 'Coach(es)', 'Unnamed: 19', 'team'],
      dtype='object')

Remove some non helpful datavals

In [99]:
season_stats2 = season_stats2.drop(columns=['Rk', 'Unnamed: 19' , 'AP Pre' , 'AP High' , 'W.1' , 'L.1' , 'W-L%.1',  'AP Final' , 'NCAA Tournament'])

In [100]:
season_stats2.describe(include = 'all')

,Season,Conf,W,L,W-L%,SRS,SOS,PTS,PTS.1,Seed,Coach(es),team
count,2600,2600,2600,2600,2600.000000,2591.000000,2591.000000,2599.000000,2599.000000,736.000000,2600,2600
unique,17,35,50,42,NaN,NaN,NaN,NaN,NaN,NaN,2488,217
top,2017-18,ACC,20,14,NaN,NaN,NaN,NaN,NaN,NaN,Greg Kampe (16-17),utah
freq,217,165,162,221,NaN,NaN,NaN,NaN,NaN,NaN,3,12
mean,NaN,NaN,NaN,NaN,0.564665,3.337522,1.442721,71.233282,68.418853,8.728261,NaN,NaN
std,NaN,NaN,NaN,NaN,0.165013,9.661552,5.510206,5.602585,5.266216,4.662143,NaN,NaN
min,NaN,NaN,NaN,NaN,0.050000,-30.400000,-12.710000,52.600000,50.700000,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.454250,-3.680000,-3.110000,67.400000,64.800000,5.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,0.576000,3.310000,1.040000,71.300000,68.300000,9.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,0.686000,10.655000,6.565000,75.000000,71.900000,13.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,1.000000,28.720000,12.790000,89.800000,92.200000,16.000000,NaN,NaN

In [101]:
season_stats2.dtypes

Season        object
Conf          object
W             object
L             object
W-L%         float64
SRS          float64
SOS          float64
PTS          float64
PTS.1        float64
Seed         float64
Coach(es)     object
team          object
dtype: object

In [102]:
# have to get rid of the * ( this means the data was changed as a result of a penalty)
season_stats2['W'] = season_stats2['W'].map(lambda x: x.rstrip('*'))
season_stats2['L'] = season_stats2['L'].map(lambda x: x.rstrip('*'))

In [103]:
season_stats2 = season_stats2.astype({'W': 'int32' , 'L': 'int32'})

In [105]:
season_stats2.dtypes

Season        object
Conf          object
W              int32
L              int32
W-L%         float64
SRS          float64
SOS          float64
PTS          float64
PTS.1        float64
Seed         float64
Coach(es)     object
team          object
dtype: object